
<app-block [picture] = "'../assets/apple.png'" [link] = "'/apple'"></app-block>
<app-block [picture] = "'../assets/asus.png'" [link] = "'/asus'"></app-block>
<app-block [picture] = "'../assets/hp.png'" [link] = "'/hp'"></app-block>
<app-block [picture] = "'../assets/acer.png'" [link] = "'/acer'"></app-block>
<app-block [picture] = "'../assets/lenovo.png'" [link] = "'/lenovo'"></app-block>
<app-block [picture] = "'../assets/samsung.png'" [link] = "'/samsung'"></app-block>
<app-block [picture] = "'../assets/dell.png'" [link] = "'/dell'"></app-block>
<app-block [picture] = "'../assets/canon.png'" [link] = "'/canon'"></app-block>
<app-block [picture] = "'../assets/tplink.png'" [link] = "'/tplink'"></app-block>
<app-block [picture] = "'../assets/logitech.jpeg'" [link] = "'/logitech'"></app-block>

<router-outlet></router-outlet>